#nav-bar {
  display: block;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  font-color: #e8fdff;
  padding: 0px 2em;
  position: fixed;
  top: 0px;
  z-index: 1; }
  #nav-bar .logo {
    float: left;
    width: 80px;
    height: 80px; }
  #nav-bar .header {
    float: left;
    padding-left: 10px;
    font-size: 2rem;
    line-height: 260%;
    color: white; }
  #nav-bar .compose-btn {
    float: right;
    width: 7em;
    height: 3em;
    margin-top: 17px;
    background-color: #eee;
    opacity: 0.7;
    border-radius: 5px; }
    #nav-bar .compose-btn:hover {
      opacity: 1; }
