/*********************************layout.scss*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }
  *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 7% auto;
  width: 50%;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px; }

/* Portrait tablet and small desktops */
@media screen and (max-width: 940px) {
  .container {
    margin: 10% auto;
    width: 70%; } }

/* Landscape phone to portrait tablet */
@media screen and (max-width: 768px) {
  .container {
    margin: 15% auto;
    width: 70%; } }

/* Landscape phones and down */
@media screen and (max-width: 480px) {
  .container {
    margin: 16% auto;
    width: 100%; } }

@media screen and (max-width: 360px) {
  .container {
    margin: 16% auto;
    width: 100%; } }

/*********************************nav-bar.scss*/
#nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #43C59E;
  font-color: #e8fdff;
  padding: 0px 2em;
  position: fixed;
  top: 0px;
  z-index: 1; }
  #nav-bar .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #nav-bar .logo {
    width: 80px;
    height: 80px; }
  #nav-bar .header {
    -ms-flex-negative: -1;
    flex-shrink: -1;
    padding-left: 10px;
    font-size: 2rem;
    color: white; }
  #nav-bar .compose-btn {
    width: 15%;
    height: 60%;
    background-color: #3D7068;
    color: white;
    opacity: 0.8;
    border-radius: 5px; }
    #nav-bar .compose-btn:hover {
      opacity: 1; }

/* Portrait tablet and small desktops */
@media screen and (max-width: 940px) {
  #nav-bar .header {
    font-size: 2rem; }
  #nav-bar .compose-btn {
    width: 20%;
    font-size: 1rem; } }

/* Landscape phone to portrait tablet */
@media screen and (max-width: 768px) {
  #nav-bar {
    padding-right: 15px;
    padding-left: 10px; }
    #nav-bar .group {
      width: 57%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    #nav-bar .header {
      font-size: 1.5rem; }
    #nav-bar .compose-btn {
      font-size: 0.6rem;
      width: 20%; }
    #nav-bar .fa-edit {
      padding-right: 10px; }
    #nav-bar .logo {
      width: 50px;
      height: 50px; } }

/* Landscape phones and down */
@media screen and (max-width: 480px) {
  .header {
    font-size: 1rem; }
  .fa-edit {
    width: 1px;
    height: 1px; }
  .compose-btn {
    font-size: 0.5em; } }

@media screen and (max-width: 360px) {
  .header {
    font-size: 1rem; }
  .fas .fa-edit {
    width: 15%;
    height: 15%; }
  .compose-btn {
    width: 30%;
    font-size: 0.5em; } }

/*********************************new-tweet.scss*/
.new-tweet {
  background-color: #fff;
  margin: 1.8rem;
  border-radius: 0.3rem;
  opacity: 0.8; }

header {
  padding: 0.5em 0.5em 0em;
  background-color: #eee;
  border-radius: 0.3rem; }

h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0.3rem;
  padding-left: 0.3rem; }

hr {
  margin: 0rem; }

/*********************************Compose tweet section*/
section {
  background-color: white; }

form {
  background-color: #eee;
  padding: 0.5em;
  border-radius: 0.3rem; }

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 5rem;
  max-height: 15rem;
  margin-top: 0.6rem;
  padding: 0.3rem; }

.counter {
  float: right;
  padding: 5px;
  font-style: italic; }

.counter-invalid-msg {
  color: red; }

.compose {
  background-color: #eee;
  border: 1px solid #888; }
  .compose:hover {
    border: 1px solid #000;
    opacity: 1; }

#submit {
  margin-top: 0.5rem;
  background-color: #FFDF94;
  opacity: 0.9;
  color: #333;
  border-radius: 5px; }
  #submit:hover {
    opacity: 1; }

/***************************************Tweets section*/
article {
  width: 100%;
  margin-bottom: 2.5rem;
  border: 1px solid #aaa;
  border-radius: 0.3rem; }
  article:hover {
    border: 1px solid #000;
    opacity: 1; }
    article:hover .foot-action {
      opacity: 1; }

.tweet-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }

.new-tweet .fullname {
  vertical-align: top;
  padding-left: 0.6rem;
  font-size: 0.8em; }

.new-tweet .handle {
  float: right;
  font-size: 0.5em;
  font-weight: 300;
  padding-top: 7px; }

header img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px; }

.tweet {
  padding: 10px 15px 5px;
  vertical-align: center;
  background-color: #ffffff;
  height: 6rem;
  word-break: break-word; }

div {
  overflow: hidden; }

footer {
  background-color: #ffffff;
  padding: 0.6rem;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  font-size: 0.7em;
  border-radius: 0.3rem; }

.foot-action {
  opacity: 0;
  float: right;
  padding-left: 0.3rem;
  color: #00a087; }

.like-btn {
  cursor: pointer;
  padding: 0;
  border: 0;
  background: none;
  outline: none; }

/***************************************Error message*/
.error-msg {
  color: #cc0000;
  padding: 0.6rem; }
