
.new-tweet{
  /*padding: 0.5em;*/
  background-color: #fff;
  margin: 30px;
  border-radius: 5px;
  opacity: 0.80;
}

article:hover {
  border: 1px solid #000;
  opacity: 1;
}
article:hover .foot-action{
  opacity: 1;
}

header{
  padding: 0.5em 0.5em 0em;
    background-color: #eee;

}
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-left: 5px;
}
hr {
  margin: 0px;
}


/*********************************Compose tweet section*/
section{
  background-color: white;
}

form{
  background-color: #eee;
  padding: 0.5em;
  border-radius: 5px;
}

textarea {
  width:100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 5rem;
  max-height: 15rem;
  margin-top: 10px;
  padding: 5px;
}
.counter {
  float: right;
  padding: 5px;
  font-style: italic;
}
.counter-invalid-msg {
  color: red;
}

.compose{
  /*padding-left: 10px;*/
  background-color: #eee;
  border: 1px solid #888;
}

.compose:hover {
border: 1px solid #000;
  opacity: 1;
}

/**********************************Tweets section*/
.tweet-list {
  display: flex;
  flex-wrap: wrap-reverse;
}

article {
  width: 100%;
  margin-bottom: 40px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.new-tweet .fullname{
  vertical-align: top;
  padding-left: 10px;
}
.new-tweet .handle{
  float: right;
  font-size: 0.65em;
  font-weight: 300;
  padding-top: 7px
}
header img {
  width: 50px;
  height: 50px;
  margin-bottom:5px;
}
.tweet {
  padding-top: 10px;
  padding-left: 15px;
  vertical-align: center;
  background-color: #ffffff;
  height: 6rem;
}
footer{
  background-color: #ffffff;
  padding: 10px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  font-size: 0.7em;
}

a:link{
  color:#00a087;
}
a:visited{
  color:#00a087;
}
a:hover{
  color:#00a087;
}

section footer .foot-action{
  opacity: 0;
  float:right;
  padding-left: 5px;
}
section footer {
  border-radius: 5px;

}
div {
  overflow: hidden;
}


