/*********************************layout.scss*/

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  &:before, &:after {
    box-sizing: inherit;
  }
}

body {
  display: flex;
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 7% auto;
  width: 45%;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

/* Portrait tablet and small desktops */
@media screen and (max-width: 940px) {
  .container{
    margin: 10% auto;
    width: 70%;
  }
}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 768px) {
  .container{
    margin: 15% auto;
    width: 70%;
  }
}

/* Landscape phones and down */
@media screen and (max-width: 480px) {
  .container{
    margin: 16% auto;
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .container{
    margin: 16% auto;
    width: 100%;
  }
}