/*********************************new-tweet.scss*/

.new-tweet {
  background-color: #fff;
  margin: 1.8rem;
  border-radius: 0.3rem;
  opacity: 0.8;
}

header {
  padding: 0.5em 0.5em 0em;
  background-color: #eee;
  border-radius: 0.3rem;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
}

hr {
  margin: 0rem;
}

/*********************************Compose tweet section*/

section {
  background-color: white;
}

form {
  background-color: #eee;
  padding: 0.5em;
  border-radius: 0.3rem;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 5rem;
  max-height: 15rem;
  margin-top: 0.6rem;
  padding: 0.3rem;
}

.counter {
  float: right;
  padding: 5px;
  font-style: italic;
}

.counter-invalid-msg {
  color: red;
}

.compose {
  background-color: #eee;
  border: 1px solid #888;
  &:hover {
    border: 1px solid #000;
    opacity: 1;
  }
}

#submit {
    background-color: #00a087;
    opacity: 0.9;
    color: #fff;
    border-radius: 5px;
    &:hover {
      opacity: 1;
    }
  }
/***************************************Tweets section*/

article {
  width: 100%;
  margin-bottom: 2.5rem;
  border: 1px solid #aaa;
  border-radius: 0.3rem;
  &:hover {
    border: 1px solid #000;
    opacity: 1;
    .foot-action {
      opacity: 1;
    }
  }
}

.tweet-list {
  display: flex;
  flex-wrap: wrap-reverse;
}

.new-tweet {
  .fullname {
    vertical-align: top;
    padding-left: 0.6rem;
  }
  .handle {
    float: right;
    font-size: 0.65em;
    font-weight: 300;
    padding-top: 7px;
  }
}

header img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.tweet {
  padding: 10px 15px 5px;
  vertical-align: center;
  background-color: #ffffff;
  height: 6rem;
  word-break: break-word;
}

div {
  overflow: hidden;
}

footer {
  background-color: #ffffff;
  padding: 0.6rem;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  font-size: 0.7em;
  border-radius: 0.3rem;
}

a {
  &:link, &:visited, &:hover {
    color: #00a087;
  }
}

section footer .foot-action {
  opacity: 0;
  float: right;
  padding-left: 0.3rem;
}


/***************************************Error message*/

.error-msg {
  color: #cc0000;
  padding: 0.6rem;
}